<apex:page id="SuppHomePage" 
    cache="false"
    standardStylesheets="false"
    showHeader="false"
    sidebar="false"
    standardController="KnowledgeArticle"
    extensions="BelongSupportHomeController"
    applyBodyTag="false"
    applyHtmlTag="false"
    docType="html-5.0"
    action="{!initCheckDomain}"
>
	<c:Belong_Meta_Header pageTitle="{!pageTitle}"
                            keyWrdMetaSEO="{!keywordsMeta}"  
                            descMetaSEO="{!descriptionMeta}" 
                            titleMetaSEO="{!titleMeta}" 
                            urlOGMetaSEO="{!urlMetaOG}"
                            keyWrdOGMetaSEO="{!keywordsMetaOG}"
                            descOGMetaSEO="{!descriptionMetaOG}"
                            titleOGMetaSEO="{!titleMetaOG}"
                            imgOGMetaSEO="{!imageMetaOG}"
                            />
    <apex:form id="SuppHomeForm" styleclass="no-js" lang="en" dir="ltr">
        <c:Belong_Header />
        <c:Belong_Page_Heading pkbCon="{!pkbCon}" SearchDisplay="true" BackDisplay="false" />
            <div class="ui-platform">
                <c:Belong_Topic_Panels pkbCon="{!pkbCon}"/>
                <c:Belong_Product_Accordion pkbCon="{!pkbCon}"/>
            </div>
    
            <div class="ui-white">
                <div class="container-content">
                    <div class="row separators align-center">
                        <div class="small-12 medium-6 large-4 column text-center">
                            <div class="h3">Troubleshoot</div>
                            <p>Use our handy troubleshooting tool<br />
                                 to check for outages or fix any<br />
                                 modem or connection issues</p>
                            <a href="https://www.belong.com.au/account/troubleshooting" class="button secondary">Troubleshoot</a>
                        </div>
                        <div class="small-12 medium-6 large-4 column text-center">
                            <div class="h3">Can't find it?</div>
                            <p>Still can’t find what you're looking for?<br />
                                Contact us so one of our Belong team<br />
                                members can assist you.</p>
                            <a class="button secondary contact-us-btn">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <c:Belong_Footer />
    </apex:form>
<site:previewAsAdmin />
<site:googleAnalyticsTracking />
</apex:page>