<apex:page controller="SequenceFAQWeightedScore" title="FAQ Reordering">
    <apex:includeScript value="{!$Resource.jQuery}"/>
    <script>
    j$ = jQuery.noConflict();
    function showLoadingDiv() {
        var newHeight = j$("[id$=mainBlock]").css("height");//Just shade the body, not the header
        j$("[id$=loading-curtain-div]").css("background-color", "black").css("opacity", 0.35).css("height", newHeight).css("width", "80%");
    }
    function hideLoadingDiv() {
        j$("[id$=loading-curtain-div]").css("background-color", "black").css("opacity", "1").css("height", "0px").css("width", "80%");
    }
    </script>
    
    <style>
        #loading-curtain-div {
        height:0px;
        width:100%;
        position:absolute;
        z-index:5;
        //-webkit-transition: all 0.30s ease-out;
        //-moz-transition: all 0.30s ease-out;
        }
        
    </style>
    
    <apex:form id="form1"> 
        <div id="loading-curtain-div"/>
        <apex:pageBlock id="mainBlock">
            
            <apex:pageBlockButtons >
                <apex:commandButton value="Save"  action="{!SaveReorderSequence}" rerender="tabPanel, PgMessge" status="counterStatus" />
                <apex:commandButton action="{!cancel}" value="Cancel"  />
                <apex:actionStatus id="counterStatus" startText=" (Updating ... Please wait)"  onstart="showLoadingDiv();" onstop="hideLoadingDiv();" />
            </apex:pageBlockButtons>

                <apex:pageBlockSection columns="1">  
                   <h3>Product Categories</h3>  
                    <apex:pageBlockTable var="PrdtHeading" value="{!Product_Header_Names}">
                        <apex:column styleClass="ui-state-default" onclick="controllerAction('{!PrdtHeading}');">
                            <a href="">{!PrdtHeading}</a>
                        </apex:column> 
                    </apex:pageBlockTable>
                    <apex:actionFunction name="controllerAction" action="{!SelectedProductTitle}" reRender="MainPanel">
                        <apex:param name="SelectedProduct" value="{!PrdtHeading}" assignto="{!PrdtHeading}"/>
                    </apex:actionFunction>
                </apex:pageBlockSection>
                
                <apex:outputPanel id="MainPanel"> 
                    <apex:outputPanel id="OPanel"> 
                        <apex:pageBlockSection columns="1" id="pbSelectedPrdtTitle" rendered="{!BoolSelectedPrdtTitle}">
                           <h3>{!PrdtHeading} </h3> 
                            <apex:pageBlockTable var="SelectedPrdtTitle" value="{!Selected_Product_Title}" >
                                <apex:column styleClass="ui-state-default"  onclick="controllerAction1('{!SelectedPrdtTitle}');">
                                   <a href=""> {!SelectedPrdtTitle} </a>
                                </apex:column>
                            </apex:pageBlockTable>
                            <apex:actionFunction name="controllerAction1" action="{!getRecords}" reRender="tabPanel	">
                                <apex:param name="pSelectedPrdtTitle" value="{!SelectedPrdtTitle}" assignto="{!SelectedPrdtTitle}"/>
                            </apex:actionFunction>
                        </apex:pageBlockSection>
                    </apex:outputPanel>
                    
                    <apex:outputPanel id="tabPanel">
                        <apex:pageMessages id="PgMessge"></apex:pageMessages>
                        <apex:pageBlockSection columns="1" id="pbfaq" rendered="{!Boolpbfaq}">
                            <h3> {!SelectedPrdtTitle} </h3> 
                            <apex:pageBlockTable var="tab" value="{!AllRecords}">
                                <apex:column style="font-weight: bold" value="{!tab['Question__c']}" />
                                <apex:column >
                                    <apex:facet name="header">Weighted Score</apex:facet>
                                    <apex:inputField value="{!tab['Weighted_Score__c']}" />
                                </apex:column>
                                <apex:column value="{!tab['VersionNumber']}" />
                            </apex:pageBlockTable>
                        </apex:pageBlockSection> 
                    </apex:outputPanel>
                </apex:outputPanel> 
        </apex:pageBlock>
    </apex:form>
</apex:page>