<apex:page id="SuppArtPage"
    cache="false"
    standardStylesheets="false"
    showHeader="false"
    sidebar="false"
    standardController="KnowledgeArticle"
    extensions="BelongSupportArticleController"
    applyBodyTag="false"
    applyHtmlTag="false"
    docType="html-5.0" 
>
    <c:Belong_Meta_Header pageTitle="{!pageTitle}"
                            keyWrdMetaSEO="{!keywordsMeta}"  
                            descMetaSEO="{!descriptionMeta}" 
                            titleMetaSEO="{!titleMeta}" 
                            urlOGMetaSEO="{!urlMetaOG}"
                            keyWrdOGMetaSEO="{!keywordsMetaOG}"
                            descOGMetaSEO="{!descriptionMetaOG}"
                            titleOGMetaSEO="{!titleMetaOG}"
                            imgOGMetaSEO="{!imageMetaOG}"
                            />
    <apex:form id="SuppArtForm" styleclass="no-js" lang="en" dir="ltr">
        <body>
            <c:Belong_Header />
            <c:Belong_Page_Heading SearchDisplay="false" BackDisplay="true"/>
    
            <div class="ui-white">
                <div class="container-content">
                    <h1 class="vmargin"><apex:outputText value="{!faqArticle.Question__c}" escape="false"/></h1>
                    <div class="faq-content"><apex:outputText value="{!faqArticle.Answer__c}" escape="false"/></div>

                    <div class="faq-rating vmargin">
                        <a class="button square hollow blue icon thumbs-up-btn"><span class="svg-circle-tick-blue"></span> This helped</a>
                        <a class="button square hollow blue icon thumbs-down-btn"><span class="svg-circle-cross-blue"></span> This didn't help</a>
                        <p class="hide">Thanks for your feedback!</p>
                    </div>
                </div>
            </div>
    
            <div class="ui-platform footer-search">
                <div class="container-content">
                    <div class="row separators collapse-edges">
                        <div class="column small-12 large-8">
                            <div class="h3">Have other issues?</div>
                            <div class="search-bar">
                                <label for="searchTermInput">
                                    <input id="searchTermInput" class="search-bar__input" type="text" name="search" placeholder="Search Support"/>
                                </label>
                                <a id="searchTermButton" class="search-bar__button">Search</a>
                            </div>
                        </div>
                        <div class="column small-12 large-4 text-center">
                            <div class="h3">Can't find it?</div>
                            <p>Still can’t find what you're looking for?<br />
                                Contact us so one of our Belong team<br />
                                members can assist you.</p>
                            <a class="button secondary contact-us-btn">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
            <c:Belong_Footer />
        </body>
    </apex:form>
    <site:previewAsAdmin />
    <site:googleAnalyticsTracking />
</apex:page>