<apex:page standardcontroller="Survey__c" 
    extensions="ViewSurveyController" 
    cache="false"
    standardStylesheets="false"
    showHeader="false"
    sidebar="false"
    applyBodyTag="false"
    applyHtmlTag="false"
    docType="html-5.0"
>
    <c:Belong_Meta_Header pageTitle="Belong - {!surveyHeader}"/>
    <script>
        function submitSurvey()
        {
          if(jQuery("#belongSubmit").attr("disabled") !== 'disabled')
          {
             jQuery("#belongSubmit").addClass("belongDisabledSubmit");
             jQuery("#belongSubmit").attr("disabled", "disabled");
             executeTarget();
          }
        }
         var chatId = '{!$CurrentPage.parameters.chatKey}';
        var startTime = '{!$CurrentPage.parameters.startTime}';
        if(chatId != '' && chatId != null && chatId != ' ' && chatId != undefined)
        {
        if(startTime == null || startTime == '' || startTime == ' ' || startTime == undefined)
            {   
            window.close();
            }
        }
    </script>
    <style>
      .belongDisabledSubmit{
        pointer-events:none;
      }
    </style>
    <!-- <div id="survey_container">    -->
    <apex:form id="theForm" html-novalidate="true">
    <apex:actionFunction action="{!submitResults}" name="executeTarget" reRender="ErrorMessage, theForm" onComplete="surveyInit();"/>
    <c:Belong_Header displayNavigation="false" />
    <apex:outputPanel id="titleSurvey" rendered="{!NOT(thankYouRendered) && NOT(surveyTaken)}">
        <div class="page-header ui-belong">
            <div class="container-content text-center">
                <div class="page-header__title">
                    <h1><apex:outputText value="{!surveyHeader}" rendered="{!Survey__c.Hide_Survey_Name__c == false}" /></h1>
                </div>
            </div>
        </div>
    </apex:outputPanel>
    
    <apex:outputPanel id="surveyTaken" rendered="{!surveyTaken}">
        <div class="page-header ui-belong">
            <div class="container-content text-center">
                <div class="page-header__title">
                    <h1><apex:outputText value="{!surveyHeader}"/></h1>
                </div>
            </div>
        </div>
    </apex:outputPanel>
    
    <apex:outputPanel id="thanksSurvey" rendered="{!thankYouRendered}" >
        <div class="page-header ui-belong">
            <div class="container-content text-center">
                <div class="page-header__title">
                    <h1>{!surveyThankYouText}</h1>
                </div>
            </div>
        </div>
    </apex:outputPanel>
    
    <apex:outputPanel id="ErrorMessage" rendered="{!NOT(thankYouRendered) && NOT(surveyTaken)}">
        <apex:outputPanel styleclass="container-content" rendered="{!NOT(ISBLANK(pageErrors))}">
        <!-- <div class="container-content"> -->
          <div class="callout alert">
            <p>{!pageErrors}</p>
          </div>
        <!-- </div> -->
       </apex:outputPanel>
    </apex:outputPanel>
    <!-- <apex:outputPanel rendered="{!thankYouRendered == false}" >  -->
        <!-- <div id="qList"> -->
    <apex:outputPanel id="questionsPanel" rendered="{!NOT(thankYouRendered) && NOT(surveyTaken)}">
        <apex:repeat value="{!allQuestions}" var="qPreview" id="aQPreview">
                    <apex:outputPanel id="questionItemRadioButton" rendered="{!qPreview.renderSelectRadio}">
                        <div class="container-content">
                            <fieldset>
                            <legend>{!qPreview.question}</legend>
                        <apex:repeat value="{!qPreview.singleOptions}" var="singleOptionItem">
                            <div class="radio">
                                <input type="radio" id="radio-{!qPreview.orderNumber}-{!singleOptionItem.value}" name="question-{!qPreview.orderNumber}" value="{!singleOptionItem.value}" />
                                <label for="radio-{!qPreview.orderNumber}-{!singleOptionItem.value}">{!singleOptionItem.Label}</label>
                            </div>
                        </apex:repeat>
                        <apex:inputHidden value="{!qPreview.selectedAnswer}"/>
                            </fieldset>
                        </div>
                    </apex:outputPanel>
                    
                    <apex:outputPanel id="questionItemRadioButtonRow" rendered="{!qPreview.renderSelectRow}">
                        <div class="container-content">
                            <fieldset>
                                <legend>{!qPreview.question}</legend>
                                <apex:repeat value="{!qPreview.rowOptions}" var="singleOptionRowItem">
                        <div class="radio">
                            <input type="radio" id="radio-{!qPreview.orderNumber}-{!singleOptionRowItem.value}" name="question-{!qPreview.orderNumber}" value="{!singleOptionRowItem.value}" />
                            <label for="radio-{!qPreview.orderNumber}-{!singleOptionRowItem.value}">{!singleOptionRowItem.Label}</label>
                           </div>   
                        </apex:repeat>
                        <apex:inputHidden value="{!qPreview.selectedAnswer}" />
                            </fieldset>
                        </div>
                    </apex:outputPanel>
                    
                    <apex:outputPanel id="questionItemCheckBox" rendered="{!qPreview.renderSelectCheckboxes}">
                        <div class="container-content">
                            <fieldset>
                                <legend>{!qPreview.question}</legend>
                                <apex:repeat value="{!qPreview.multiOptions}" var="multiOptionItem">
                        <div class="checkbox">
                               <input type="checkbox" id="check-{!qPreview.orderNumber}-{!multiOptionItem.value}" name="question-{!qPreview.orderNumber}" value="{!multiOptionItem.value}" />
                               <label for="check-{!qPreview.orderNumber}-{!multiOptionItem.value}">{!multiOptionItem.Label}</label>
                              </div>
                        </apex:repeat>
                        <apex:inputHidden value="{!qPreview.selectedAnswer}" />
                            </fieldset>
                        </div>
                    </apex:outputPanel>
                    
                    <apex:outputPanel id="questionTextArea" rendered="{!qPreview.renderFreeText}">
                        <div class="container-content">
                        <fieldset>
                            <div class="input">
                                <textarea id="text-area-{!qPreview.orderNumber}" rows="5" name="question-{!qPreview.orderNumber}" value="{!qPreview.choices}" required="required"></textarea>
                                <label for="text-area-{!qPreview.orderNumber}"><span>{!qPreview.question}</span></label>
                                <apex:inputHidden value="{!qPreview.selectedAnswer}" />
                            </div>
                        </fieldset>
                        </div>
                    </apex:outputPanel>
           </apex:repeat>
    <div class="container-content text-center">
        <a onclick="submitSurvey();" id="belongSubmit" class="button primary">{!$Label.LABS_SF_SubmitSurvey}</a>
        <!--  
        <input class="button primary" type="button" name="search" placeholder="Search Support" value="{!$Label.LABS_SF_SubmitSurvey}" onclick="methodOneInJavascript(); return false;"/>
         -->
        

    </div>
    </apex:outputPanel>
    <c:Belong_Footer />
</apex:form>
<script>
function surveyInit() {
  $('form').attr('action', location.pathname + location.search);

    $('fieldset')
    .on('change', 'input[type=radio]', function(event) {
        $(event.delegateTarget).find('input[type=hidden]').val($(event.delegateTarget).find('input[type=radio]:checked').val());
    })
    .on('change', 'input[type=checkbox]', function(event) {
        var checked = $(event.delegateTarget).find('input[type=checkbox]:checked');
        var values = [];
        for (var i = 0; i < checked.length; i++) {
            values.push(checked[i].value);
        }

        $(event.delegateTarget).find('input[type=hidden]').val(values.join(','));
    })
    .on('change', 'textarea', function(event) {
        $(event.delegateTarget).find('input[type=hidden]').val($(event.delegateTarget).find('textarea').val());
    })
  .each(function() {
    var $el = $(this);
    var value = $el.find('input[type=hidden]').val();

    if (value && $el.find('input[type=radio]').length) {
      $el.find('input[type=radio][value=' + value + ']').attr('checked', 'checked');
    } else if (value && $el.find('input[type=checkbox]').length) {
      value = value.split(',');

      $.each(value, function(index, arrValue) {
        $('input[type=checkbox][value=' + arrValue + ']').attr('checked', 'checked');
      });
    } else if (value && $el.find('textarea').length) {
      $el.find('textarea').text(value);
    }
  });
};

surveyInit();
</script>
</apex:page>