<apex:page showHeader="true" sidebar="true" tabStyle="Task" controller="TaskSMSController"><!-- standardController="Task" -->
	<apex:sectionHeader title="Task Edit" subtitle="New SMS "/>
	<apex:form >
	<apex:pageMessages id="msgs" /> <!--rendered="{!showMessage}"/>  -->
	<style>
			 .requiredInput .requiredBlockRed
			{
				background-color: red;
				position: absolute;
				left: -4px;
				width: 3px;

				top: 1px;
				bottom: 1px;
			}
	</style>
		<apex:pageBlock mode="edit" title="Task Edit">
		
			<apex:pageBlockButtons location="Top">
                <apex:commandButton value="Save" action="{!SendSMS}" />
                <apex:commandButton value="Cancel" action="{!cancel}" immediate="true" />
			</apex:pageBlockButtons>
        
        	<apex:pageblockSection title="Task Information" columns="2" collapsible="false">
        		<!-- Row 1 -->
				<apex:outputField value="{!taskSMS.OwnerId}" label="Assigned To" />
					<apex:outputField value="{!taskSMS.WhatId}" label="Related To" />
				<!-- Row 2 -->
				<apex:pageblockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Task.Fields.Status.Label}"/>
						<apex:outputPanel layout="block" styleClass="requiredInput">
						<div class="requiredBlockRed"></div>
						<apex:inputField value="{!taskSMS.Status}" required="false"/>
					</apex:outputPanel>
				</apex:pageblockSectionItem>
					<apex:pageblockSectionItem >
						<apex:outputLabel value="Contact"/>
						<apex:outputPanel layout="block" styleClass="requiredInput">
							<apex:selectList id="SMSContactSelect" size="1" value="{!contactSelected}">
		                        <apex:selectOptions value="{!contactsList}"/>
		                        <apex:actionSupport event="onchange" action="{!getContactPhone}" rerender="SMSRecipient, SMSDetailsSection" status="mobStatus"/>
		                    </apex:selectList>
		                    <apex:actionStatus id="mobStatus">
								<apex:facet name="start">
									<img class="waitingImage" src="/img/loading.gif" style="padding-left:8px;" />
								</apex:facet>
							</apex:actionStatus>
						</apex:outputPanel>
					</apex:pageblockSectionItem>
				<!-- Row 3 -->
				<apex:pageblockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Task.Fields.Priority.Label}"/>
					<apex:inputField value="{!taskSMS.Priority}" />
				</apex:pageblockSectionItem>
				<!-- Row 4 -->
				<apex:outputText value="" />
					<apex:outputText value=""/>
			</apex:pageblockSection>
			<apex:outputPanel id="SMSDetailsSection">
				<apex:pageblockSection title="SMS Details" columns="2" collapsible="false" rendered="{!isContactSelected}">
					<!-- Row 1 -->
					<apex:pageblockSectionItem >
						<apex:outputLabel value="{!$ObjectType.Task.Fields.SMS_Send_Status__c.Label}"/>
						<apex:outputField value="{!taskSMS.SMS_Send_Status__c}"/>
					</apex:pageblockSectionItem>
					<apex:pageblockSectionItem >
					</apex:pageblockSectionItem>
					<!-- Row 2 -->
					<apex:pageblockSectionItem >
						<apex:outputLabel value="{!$ObjectType.SMS_Template__c.Fields.Template_Category__c.Label}"/>
						<apex:outputPanel layout="block" styleClass="requiredInput">
							<div class="requiredBlockRed"></div>
							<apex:selectList id="SMSTemplateCatSelect" size="1" value="{!smsTemplateCat}">
		                        <apex:selectOptions value="{!smsTempCatsOptions}"/>
		                        <apex:actionSupport event="onchange" action="{!getSMSTemplateList}" rerender="SMSTemplates" status="TemplateStatus" />
		                    </apex:selectList>
						</apex:outputPanel>
					</apex:pageblockSectionItem>
						<apex:pageblockSectionItem >
							<apex:outputLabel value="{!$ObjectType.Task.Fields.SMS_Recipient__c.Label}"/>
							<apex:outputPanel layout="block" styleClass="requiredInput">
								<div class="requiredBlockRed"></div>
								<apex:inputField id="SMSRecipient" value="{!taskSMS.SMS_Recipient__c}"/>
							</apex:outputPanel>
						</apex:pageblockSectionItem>
					<!-- Row 3 -->
					<apex:pageblockSectionItem >
						<apex:outputLabel value="SMS Template"/>
						<apex:outputPanel id="SMSTemplates" layout="block" styleClass="requiredInput">
							<div class="requiredBlockRed"></div>
		                    <apex:selectList id="SMSTemplateSelect" size="1" value="{!SMSTemplateId}">
		                        <apex:selectOptions value="{!SMSTemplates}"/>
		                        <apex:actionSupport event="onchange" action="{!getSMSBody}" rerender="msgs, SMSBody, SMSSubject" status="TemplateStatus" />
		                    </apex:selectList>
		                    <apex:actionStatus id="TemplateStatus">
								<apex:facet name="start">
									<img class="waitingImage" src="/img/loading.gif" title="Merging Template" style="padding-left:8px;" />
								</apex:facet>
							</apex:actionStatus>
						</apex:outputPanel>
					</apex:pageblockSectionItem>
						<apex:pageblockSectionItem >
							<apex:outputLabel value="{!$ObjectType.Task.Fields.Subject.Label}" />
							<apex:outputPanel id="SMSSubject" layout="block" styleClass="requiredInput">
								<apex:outputField value="{!taskSMS.Subject}" style="width: 90%;"/>
							</apex:outputPanel>
						</apex:pageblockSectionItem>
					<apex:pageblockSectionItem >
					</apex:pageblockSectionItem>
						<apex:pageblockSectionItem >
							<apex:outputLabel value="{!$ObjectType.Task.Fields.Description.Label}"/>
							<apex:outputPanel id="SMSBody">
								<apex:inputField value="{!taskSMS.Description}" style="width: 100%;"/>
							</apex:outputPanel>
						</apex:pageblockSectionItem>
				</apex:pageblockSection>
			</apex:outputPanel>
		</apex:pageBlock>
		<!-- <apex:pageBlock mode="edit">
			<apex:pageblockSection title="Sending Details" columns="1" collapsible="false">
				<apex:pageblockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Task.Fields.SMS_EVE_Response__c.Label}"/>
					<apex:inputField value="{!taskSMS.SMS_EVE_Response__c}" />
				</apex:pageblockSectionItem>
			</apex:pageblockSection>
		</apex:pageBlock> -->
	</apex:form>
</apex:page>