<apex:component >
    <apex:attribute name="pkbCon" type="BelongSupportHomeController" required="true" description="handle to the pkb controller" />
    <div class="container-content">
        <div class="text-center h3">
            How can we help?
        </div>
    </div>
    <div class="container-wide text-center">
        <apex:variable var="index" value="{!0}" />
        <apex:repeat var="topic" value="{!pkbCon.knowledgeTopics}">
            <apex:variable var="rowCls" value="{!IF(mod(index,2)==0,'primary', 'blue')}"/>
            <apex:variable var="articlePage" value="{!topic.Page_Name__c}"/>
            <apex:variable var="currentSiteUrl" value="{!pkbCon.currentSiteUrl}"/>
            <a href="{!articlePage}" class="button {!rowCls} button-panel">
                <div class="h3 coheadline -bold">{!topic.Title__c}</div>
                <p class="coheadline button-panel__content">{!topic.Details__c}</p>
                <p class="coheadline button-panel__moreinfo">Find out more</p>
            </a>
            <apex:variable var="index" value="{!index+1}" />
        </apex:repeat>
    </div>
</apex:component>