<apex:component >
    <footer class="ui-slate footer">
        <div class="container-wide vmargin">
            <div class="logo"></div>
            <a href="https://twitter.com/letsbelong" target="_blank" class="footer__twitter float-right"><span class="show-for-sr">Twitter</span></a>
            <a href="https://www.facebook.com/LetsBelong/" target="_blank" class="footer__facebook float-right"><span class="show-for-sr">Facebook</span></a>
        </div>
        <br />
        <div class="container-wide vmargin">
            <div class="row">
                <div class="column small-12 large-6 small-order-2 large-order-1">
                    <p class="-xsmall text-gray">Belong is not available in all areas or to all homes. <br />
                        NBN is a trademark of NBN Co Limited and is used under license from NBN Co Limited.<br />
                        Belong is a division of Telstra Corporation Limited ABN 33 051 775 556</p>
                </div>
                <div class="column small-12 large-6 small-order-1 large-order-2">
                    <ul class="footer__links">
                        <li><a href="https://www.belong.com.au/critical-information-summaries">Critical Information Summaries</a></li>
                        <li><a href="https://www.belong.com.au/customer-terms">Customer terms</a></li>
                        <li><a href="https://www.belong.com.au/privacy">Privacy</a></li>
                        <li><a href="https://www.belong.com.au/terms-of-use">Terms of use</a></li>
                        <li><a href="https://www.belong.com.au/contact-us">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="{!URLFOR($Resource.KnowledgeLibrary, 'js/jquery.js')}"></script>
    <script src="{!URLFOR($Resource.KnowledgeLibrary, 'js/vendor.js')}"> </script>
    <script>$(document).foundation();</script>
    <script src="{!URLFOR($Resource.KnowledgeLibrary, 'js/belong.js')}"></script>
    <script src="{!URLFOR($Resource.KnowledgeLibrary, 'js/knowledge.js')}"></script>

    <script type="text/javascript">
        _satellite.pageBottom();
        ga('send', 'pageview');
    </script>

    <!-- Cleanup for app -->
    <script>
    var standalone = window.navigator.standalone,
        iOS        = navigator.userAgent.match(/iPhone|iPad|iPod/i),
        safari     = /safari/.test(navigator.userAgent.toLowerCase());

        if (iOS) {
            if (!standalone && !safari) {
                $('.header').remove();
                $('.page-header').remove();
                $('.footer-search').remove();
                $('.footer').remove();
            }
        }
    </script>

    <!-- Liveagent chat scripts -->
    <script type='text/javascript' src='https://c.la10.salesforceliveagent.com/content/g/js/37.0/deployment.js'></script>
    <script type='text/javascript'>
        var liveagentInitUrl;
        var initCode1;
        var initCode2;
        if (window.location.host === 'www.belong.com.au' || window.location.host === 'www.support.belong.com.au' || window.location.host === 'support.belong.com.au') {
            // Prod codes
            liveagentInitUrl = 'https://d.la10.salesforceliveagent.com/chat';
            initCode1 = '57228000000PDu1';
            initCode2 = '00D280000012oCH';
        } else {
            // Test environment codes
            liveagentInitUrl = 'https://d.la9cs.salesforceliveagent.com/chat';
            initCode1 = '572p00000008ORq';
            initCode2 = '00Dp0000000Cvse';
        }
        liveagent.init(liveagentInitUrl, initCode1, initCode2);
    </script>

    <!-- Support Live Person -->
    <script>
        var lpTag;
        var siteCode = '83898727';  // LE2.0 Production account.
        window.lpTag=window.lpTag||{};if(typeof window.lpTag._tagCount==='undefined'){window.lpTag={site:siteCode,section:lpTag.section||'',autoStart:lpTag.autoStart===false?false:true,ovr:lpTag.ovr||{},_v:'1.5.1',_tagCount:1,protocol:location.protocol,events:{bind:function(app,ev,fn){lpTag.defer(function(){lpTag.events.bind(app,ev,fn)},0)},trigger:function(app,ev,json){lpTag.defer(function(){lpTag.events.trigger(app,ev,json)},1)}},defer:function(fn,fnType){if(fnType==0){this._defB=this._defB||[];this._defB.push(fn)}else if(fnType==1){this._defT=this._defT||[];this._defT.push(fn)}else{this._defL=this._defL||[];this._defL.push(fn)}},load:function(src,chr,id){var t=this;setTimeout(function(){t._load(src,chr,id)},0)},_load:function(src,chr,id){var url=src;if(!src){url=this.protocol+'//'+((this.ovr&&this.ovr.domain)?this.ovr.domain:'lptag.liveperson.net')+'/tag/tag.js?site='+this.site}var s=document.createElement('script');s.setAttribute('charset',chr?chr:'UTF-8');if(id){s.setAttribute('id',id)}s.setAttribute('src',url);document.getElementsByTagName('head').item(0).appendChild(s)},init:function(){this._timing=this._timing||{};this._timing.start=(new Date()).getTime();var that=this;if(window.attachEvent){window.attachEvent('onload',function(){that._domReady('domReady')})}else{window.addEventListener('DOMContentLoaded',function(){that._domReady('contReady')},false);window.addEventListener('load',function(){that._domReady('domReady')},false)}if(typeof(window._lptStop)=='undefined'){this.load()}},start:function(){this.autoStart=true},_domReady:function(n){if(!this.isDom){this.isDom=true;this.events.trigger('LPT','DOM_READY',{t:n})}this._timing[n]=(new Date()).getTime()},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],ev:lpTag.ev||[]};lpTag.init()}else{window.lpTag._tagCount+=1}
        lpTag.sdes = lpTag.sdes||[];
        lpTag.section = ['help', 'service'];
    </script>

    <style type="text/css">
    #chat-service, .lp-chat-button, #lpButtonDiv {
        width: 52px;
        height: 142px;

        position: fixed;
        z-index: 9999;
        top: 45%;
        left: 0;
    }
    </style>

    <div id="lpButtonDiv" class="lp-chat-button"></div>
</apex:component>