<apex:component >
    <apex:attribute name="pkbSupCon" type="BelongSupportCategoryController" required="true" description="handle to the pkb controller" />
    <div class="accordion-header ui-white">
        <h4>{!pkbSupCon.FAQTitle}</h4>
    </div>
    <ul class="accordion accordion-small" data-accordion="true" data-multi-expand="true" data-allow-all-closed="true">
        <apex:repeat value="{!pkbSupCon.FAQArticles}" var="kbFAQ" >
            <li class="accordion-item" data-accordion-item="true" data-faq-inline="true">
                <a href="{!URLFOR($Page.Belong_Support_Article,null,[artName=kbFAQ.Normalize_URL_Name__c])}" class="accordion-title"><h5>{!kbFAQ.Title}</h5></a>
                <div class="accordion-content" data-tab-content="false">
                    <div class="faq-container">
                        <div class="loader"></div>
                    </div>
                    <div class="faq-rating vmargin-sm" style="display: none">
                        <a class="button square hollow blue icon thumbs-up-btn" data-faq-url="{!URLFOR($Page.Belong_Support_Article,null,[artName=kbFAQ.Normalize_URL_Name__c])}"><span class="svg-circle-tick-blue"></span> This helped</a>
                        <a class="button square hollow blue icon thumbs-down-btn" data-faq-url="{!URLFOR($Page.Belong_Support_Article,null,[artName=kbFAQ.Normalize_URL_Name__c])}"><span class="svg-circle-cross-blue"></span> This didn't help</a>
                        <p class="hide">Thanks for your feedback!</p>
                    </div>
                </div>
            </li>
        </apex:repeat>          
    </ul>
</apex:component>