<apex:page id="SuppSearchPage"
	cache="false"
  	standardStylesheets="false"
  	showHeader="false"
  	sidebar="false"
  	standardController="KnowledgeArticle"
  	extensions="BelongSupportSearchResultsController"
  	applyBodyTag="false"
  	applyHtmlTag="false"
  	docType="html-5.0"
>
	<c:Belong_Meta_Header pageTitle="{!pageTitle}"/>
	<apex:form id="SuppSearchFrom" styleclass="no-js" lang="en" dir="ltr">
		<body>
			<c:Belong_Header />
			<c:Belong_Page_Heading pkbSrchCon="{!pkbSearchCon}" rerender="SuppSearchFrom:FAQResults" SearchDisplay="true" BackDisplay="true"/>
			
			<div class="ui-platform search-results">
				<div class="container-content">
					<div class="h4 -bold vmargin">{!FAQResultSize} results found for {!searchResultTerms}</div>
					<div class="h4 vmargin">Filter by product</div>
					<apex:repeat value="{!knowledgeSettingProd}" var="filterProd">
						<div class="checkbox -large">
							<input id="{!filterProd.Name}" type="checkbox" checked="true"/>
							<label for="{!filterProd.Name}" class="coheadline">{!filterProd.Product_Label__c}</label>
						</div>
					</apex:repeat>
				</div>
				<apex:outputPanel id="FAQResults">
					<apex:repeat value="{!displayFAQResults}" var="FAQCat" >
					<!-- <apex:repeat value="{!prodNameProdCate[prodType]}" var="FAQCat" > -->
						<apex:variable var="cayKey" value="{!FIND('_',FAQCat)-1}"/>
							<div class="container-content" data-category="{!LOWER(LEFT(FAQCat,cayKey))}">
								<div class="accordion-header ui-white">
									<h4>{!catAPINameTitle[FAQCat]}</h4>
								</div>
								<ul class="accordion accordion-small" data-accordion="true" data-multi-expand="true" data-allow-all-closed="true">
									<apex:repeat value="{!catNameFAQs[FAQCat]}" var="kbFAQ" >
										<li class="accordion-item" data-accordion-item="true" data-faq-inline="true">
											<a href="{!URLFOR($Page.Belong_Support_Article,null,[artName=kbFAQ.Normalize_URL_Name__c])}" class="accordion-title">
												<h5>{!kbFAQ.Title}</h5>
											</a>
											<div class="accordion-content" data-tab-content="false">
												<div class="faq-container">
													<div class="loader"></div>
												</div>
												<div class="faq-rating vmargin-sm" style="display: none">
													<a class="button square hollow blue icon thumbs-up-btn" data-faq-url="{!URLFOR($Page.Belong_Support_Article,null,[artName=kbFAQ.Normalize_URL_Name__c])}"><span class="svg-circle-tick-blue"></span> This helped</a>
													<a class="button square hollow blue icon thumbs-down-btn" data-faq-url="{!URLFOR($Page.Belong_Support_Article,null,[artName=kbFAQ.Normalize_URL_Name__c])}"><span class="svg-circle-cross-blue"></span> This didn't help</a>
													<p class="hide">Thanks for your feedback!</p>
												</div>
											</div>
										</li>
									</apex:repeat>
								</ul>
							</div>
						<!-- </apex:repeat> -->
					</apex:repeat>
				</apex:outputPanel>
			</div>
			<c:Belong_Footer />
		</body>
	</apex:form>
	<site:previewAsAdmin />
	<site:googleAnalyticsTracking />
</apex:page>