<apex:page id="SuppErrPage"
    cache="false"
    standardStylesheets="false"
    showHeader="false"
    sidebar="false"
    applyBodyTag="false"
    applyHtmlTag="false"
    docType="html-5.0" 
>
    <c:Belong_Meta_Header />
    <apex:form id="SuppErrForm" styleclass="no-js" lang="en" dir="ltr">
        <body>
            <c:Belong_Header />
            <c:Belong_Page_Heading SearchDisplay="false" BackDisplay="true" />
    
            <div class="ui-white">
                <div class="container-content" style="min-height: 500px;">
                    <p class="h1 vmargin">The page you're after can't be found</p>
                    <p>We're sorry but the page you're after doesn't seem to exist on our site.</p>
                    <p>Please return to the <a href="/">Support</a> homepage, or you may find what you're after by making use of our search at the top of the page.</p>
                </div>
            </div>
    
            <div class="ui-platform">
                <div class="container-content">
                    <div class="row separators collapse-edges">
                        <div class="column large-8">
                            <div class="h3">Have other issues?</div>
                            <div class="search-bar">
                                <label for="searchTermInput">
                                    <input id="searchTermInput" class="search-bar__input" type="text" name="search" placeholder="Search Support"/>
                                </label>
                                <a id="searchTermButton" class="search-bar__button">Search</a>
                            </div>
                        </div>
                        <div class="column large-4 text-center">
                            <div class="h3">Can't find it?</div>
                            <p>Still can’t find what you're looking for?<br />
                                Contact us so one of our Belong team<br />
                                members can assist you.</p>
                            <a class="button secondary contact-us-btn">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
            <c:Belong_Footer />
        </body>
    </apex:form>
    <site:previewAsAdmin />
    <site:googleAnalyticsTracking />
</apex:page>