<apex:page applyHtmlTag="false" applyBodyTag="false" standardStylesheets="false" sidebar="false" showHeader="false" controller="ResetPasswordController" docType="html-5.0">
    <link rel="shortcut icon" href="{!URLFOR($Resource.BelongIcon)}" type="image/x-icon" title="Welcome to Belong" />
    <html class="supports-no-js" lang="en">

    <head>
        <meta charset="utf-8" />
        <!-- LP Mobile: Include the following meta tag in the header on each page that LP Mobile Web is active -->
        <meta name="viewport" content="user-scalable=0,width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible," content=" IE=edge,chrome=1; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="shortcut icon" href="https://www.belong.com.au/assets/img/favicons/favicon.ico?v=5.1" />
        <link rel="apple-touch-icon" sizes="57x57" href="https://www.belong.com.au/assets/img/favicons/apple-touch-icon-57x57.png?v=5.1" />
        <link rel="apple-touch-icon" sizes="60x60" href="https://www.belong.com.au/assets/img/favicons/apple-touch-icon-60x60.png?v=5.1" />
        <link rel="apple-touch-icon" sizes="72x72" href="https://www.belong.com.au/assets/img/favicons/apple-touch-icon-72x72.png?v=5.1" />
        <link rel="apple-touch-icon" sizes="76x76" href="https://www.belong.com.au/assets/img/favicons/apple-touch-icon-76x76.png?v=5.1" />
        <link rel="apple-touch-icon" sizes="114x114" href="https://www.belong.com.au/assets/img/favicons/apple-touch-icon-114x114.png?v=5.1" />
        <link rel="apple-touch-icon" sizes="120x120" href="https://www.belong.com.au/assets/img/favicons/apple-touch-icon-120x120.png?v=5.1" />
        <link rel="apple-touch-icon" sizes="144x144" href="https://www.belong.com.au/assets/img/favicons/apple-touch-icon-144x144.png?v=5.1" />
        <link rel="apple-touch-icon" sizes="152x152" href="https://www.belong.com.au/assets/img/favicons/apple-touch-icon-152x152.png?v=5.1" />
        <link rel="apple-touch-icon" sizes="180x180" href="https://www.belong.com.au/assets/img/favicons/apple-touch-icon-180x180.png?v=5.1" />
        <link rel="icon" type="image/png" href="https://www.belong.com.au/assets/img/favicons/favicon-32x32.png?v=5.1" sizes="32x32" />
        <link rel="icon" type="image/png" href="https://www.belong.com.au/assets/img/favicons/android-chrome-192x192.png?v=5.1" sizes="192x192" />
        <link rel="icon" type="image/png" href="https://www.belong.com.au/assets/img/favicons/favicon-96x96.png?v=5.1" sizes="96x96" />
        <link rel="icon" type="image/png" href="https://www.belong.com.au/assets/img/favicons/favicon-16x16.png?v=5.1" sizes="16x16" />
        <link rel="manifest" href="https://www.belong.com.au/assets/img/favicons/manifest.json?v=5.1" />
        <meta name="msapplication-TileColor" content="#369ac3" />
        <meta name="msapplication-TileImage" content="https://www.belong.com.au/assets/img/favicons/mstile-144x144.png?v=5.1" />
        <meta name="theme-color" content="#369ac3" />
        <link rel="stylesheet" href="https://www.belong.com.au/assets/css/style.css" type="text/css" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="https://www.belong.com.au/favicon.ico" />
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://www.belong.com.au/favicon.ico" />
        <script type="text/javascript" src="https://www.belong.com.au/assets/js/head.js"></script>
        <title>Change password</title>
        <link rel="stylesheet" href="https://www.belong.com.au/assets/img/svgs/data-svg.css" type="text/css" />
        <style>
        .salesForce-btn {
            cursor: pointer;
            position: relative;
            display: inline-block;
            border-radius: 60px;
            width: 245px;
            height: 63px;
            transition: 250ms background-color, 250ms color, 50ms border-width, 250ms width ease-out;
            text-align: center;
            text-transform: uppercase;
            outline: none;
            color: #fff;
            border: 0;
            font-weight: 700;
            box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, .4);
            background-color: #a5cf4c;
            border-bottom: 3px solid #789b33;
        }
        </style>
        <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-43777274-1', 'auto');
        ga(function(tracker) {
            var clientId = tracker.get('clientId');
            ga('set', 'dimension15', clientId);
        });
        </script>
        <script type="text/javascript">
        var appleSmartBannerData = {
            isActive: 'true',
            appleiTunesAppID: '929905619'
        };
        var livePersonSettingsData = {
            isDisabled: 'false'
        };
        </script>
        <script>
        (function(w, d, t, r, u) {
            var f, n, i;
            w[u] = w[u] || [], f = function() {
                var o = {
                    ti: "5189360"
                };
                o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad")
            }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function() {
                var s = this.readyState;
                s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null)
            }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i)
        })(window, document, "script", "//bat.bing.com/bat.js", "uetq");
        </script>
        <script src="//assets.adobedtm.com/3c7a22bb879803cc2beb8b04f846f928b6fea2ec/satelliteLib-c6d69479c887822e961b4db59e3767c799f4e22f.js"></script>
    </head>

    <body data-page-type="">
        <div id="lpButtonDiv"></div>
        <noscript>
            <div class="page-warning">
                <div class="l-padding">Please enable JavaScript in order to get the best experience when using this site.</div>
            </div>
        </noscript>
        <!--[if lte IE 9]>
                            <div class="page-warning" style="height: 80px; padding-top: 25px; color: #ffffff; background-color: #fd7173; font-weight: 700; position: fixed; top: 0; z-index: 9999999; width: 100%;">
                                <div class="l-padding">
                                    We've noticed that you're using an unsupported version of Internet Explorer. For the best experience please <a style="color: #ffffff; text-decoration: underline;" href="http://windows.microsoft.com/en-au/internet-explorer/download-ie" target="_blank" rel="nofollow">upgrade</a> or <a style="color: #ffffff; text-decoration: underline;" href="http://browsehappy.com/" target="_blank" rel="nofollow">use another browser</a>.
                                    </div>
                                    </div>
                                    <![endif]-->
        <div id="header" class="header" data-page-type="" data-page-sub-type="">
            <div class="refreshglobalheader headernavigation">
                <div class="top cf" itemscope="true" itemtype="http://schema.org/Organization">
                    <ul class="accessibility-links">
                        <li><a href="#nav">Site Navigation</a></li>
                        <li><a href="#main">Page Content</a></li>
                    </ul>
                    <a id="nav-toggle" href="{!$label.Belong_Logo}" class="nav-toggle"><span class="vh">Open navigation</span></a>
                    <a id="header-logo" href="{!$label.Belong_Logo}"><img src="https://www.belong.com.au/content/dam/belong/assets/images/belong-logo.png" alt="Belong Internet Logo" class="logo" /></a>
                    <a id="header-call" href="tel:1300 235 664" class="call" itemprop="telephone"><span class="vh">Call</span></a>
                    <a id="header-chat" class="chat fn__open-chat-popup"><span class="svg-speech-bubble chat-bubble"></span><span class="svg-speech-bubble-green-fill chat-bubble"></span><span class="border-span"></span>Chat</a>
                    <div id="nav" class="nav">
                        <ul class="main-navigation navigation-list horizontal">
                            <li class="hidden"><a id="nav-adsl" data-unauth="true" data-auth="false" data-join="false" data-agent="true" data-customer="true" data-agent-mobo="false" href="https://www.belong.com.au/adsl" class=""><span class="c-target">ADSL2</span></a></li>
                            <li class="hidden"><a id="nav-nbn" data-unauth="true" data-auth="false" data-join="false" data-agent="true" data-customer="true" data-agent-mobo="false" href="https://www.belong.com.au/nbn" class=""><span class="c-target">NBN</span></a></li>
                        </ul>
                        <div class="hidden authenticated-menu">
                            <a href="#" data-unauth="false" data-auth="true" data-join="true" data-agent="true" data-customer="true" data-agent-mobo="true">
                                                                                        Hi <span class="user-first-name"></span>
                                                                                        </a>
                            <ul class="authenticated-navigation navigation-list hidden">
                                <li class="hidden"><a id="nav-change-password" href="https://www.belong.com.au/account/a-change-password" data-unauth="false" data-auth="true" data-join="true" data-agent="true" data-customer="false" data-agent-mobo="true">Reset Password</a></li>
                                <li class="hidden"><a id="nav-logout" href="https://www.belong.com.au/am/UI/Logout.html" data-unauth="false" data-auth="true" data-join="true" data-agent="true" data-customer="true" data-agent-mobo="true">Sign out</a></li>
                            </ul>
                        </div>
                        <ul class="secondary-navigation navigation-list horizontal">
                            <li class="hidden">
                                <a id="nav-chat" data-unauth="true" data-auth="false" data-join="true" data-agent="false" data-customer="true" data-agent-mobo="false" href="#" class="nav-chat fn__open-chat-popup">
                                    <span class="svg-speech-bubble chat-bubble"></span>
                                    <span class="svg-speech-bubble-green-fill chat-bubble"></span>
                                    <span class="chat-title">Chat</span>
                                </a>
                            </li>
                            <li class="hidden">
                                <a id="nav-join" data-unauth="true" data-auth="false" data-join="false" data-agent="true" data-customer="true" data-agent-mobo="false" href="https://www.belong.com.au/join" class="bc-blue">
                                    <span class="c-target">Join</span>
                                </a>
                            </li>
                            <li class="hidden">
                                <a id="nav-support" data-unauth="true" data-auth="true" data-join="true" data-agent="true" data-customer="true" data-agent-mobo="true" href="http://support.belong.com.au" class="">
                                    <span class="c-target">Support</span>
                                </a>
                            </li>
                            <li class="hidden">
                                <a id="nav-belong-here" data-unauth="false" data-auth="true" data-join="true" data-agent="false" data-customer="true" data-agent-mobo="true" href="https://www.belong.com.au/account" class="">
                                    <span class="c-target">Account</span>
                                </a>
                            </li>
                            <li class="hidden">
                                <a id="nav-login" data-unauth="true" data-auth="false" data-join="true" data-agent="false" data-customer="false" data-agent-mobo="false" href="{!$Label.Belong_sign_in}" class="">
                                    <span class="c-target">Sign in</span>
                                </a>
                            </li>
                        </ul>
                        <div class="mobile-menu hide">
                            <ul class="navigation-list">
                                <li class="hidden"><a id="mobile-nav-adsl" data-unauth="true" data-auth="false" data-join="false" data-agent="true" data-customer="true" data-agent-mobo="false" href="https://www.belong.com.au/adsl" class=""><span class="c-target">ADSL2</span></a></li>
                                <li class="hidden"><a id="mobile-nav-nbn" data-unauth="true" data-auth="false" data-join="false" data-agent="true" data-customer="true" data-agent-mobo="false" href="https://www.belong.com.au/nbn" class=""><span class="c-target">NBN</span></a></li>
                                <li class="hidden"><a id="mobile-nav-chat" data-unauth="true" data-auth="false" data-join="true" data-agent="false" data-customer="true" data-agent-mobo="false" href="#" class="nav-chat fn__open-chat-popup"><span class="c-target">Chat</span></a></li>
                                <li class="hidden"><a id="mobile-nav-join" data-unauth="true" data-auth="false" data-join="false" data-agent="true" data-customer="true" data-agent-mobo="false" href="https://www.belong.com.au/join" class="bc-blue"><span class="c-target">Join</span></a></li>
                                <li class="hidden"><a id="mobile-nav-support" data-unauth="true" data-auth="true" data-join="true" data-agent="true" data-customer="true" data-agent-mobo="true" href="http://support.belong.com.au" class=""><span class="c-target">Support</span></a></li>
                                <li class="hidden"><a id="mobile-nav-belong-here" data-unauth="false" data-auth="true" data-join="true" data-agent="false" data-customer="true" data-agent-mobo="true" href="https://www.belong.com.au/account" class=""><span class="c-target">Account</span></a></li>
                                <li class="hidden"><a id="mobile-nav-login" data-unauth="true" data-auth="false" data-join="true" data-agent="false" data-customer="false" data-agent-mobo="false" href="https://www.belong.com.au/account" class=""><span class="c-target">Sign in</span></a></li>
                                <li>
                                    <ul class="hidden authenticated-menu-mobile">
                                        <li class="hidden"><a id="mobile-nav-change-password" href="https://www.belong.com.au/account/a-change-password" data-unauth="false" data-auth="true" data-join="true" data-agent="true" data-customer="false" data-agent-mobo="true">Reset Password</a></li>
                                        <li class="hidden"><a id="mobile-nav-logout" href="https://www.belong.com.au/am/UI/Logout.html" data-unauth="false" data-auth="true" data-join="true" data-agent="true" data-customer="true" data-agent-mobo="true">Sign out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="error-banner rest-error hidden">There was an issue connecting to Belong. Please try again later.</div>
                    <div class="error-banner private-browser-error hidden">Private (incognito) browsing mode detected. Functionality will be limited. Please turn off private browsing mode to access full functionality of the site.</div>
                    <div class="notification-banner -aqua -relative -slim outbound-agents-only">
                        <div class="b-form-section">
                            <div class="belong-selection-items -summary -notification">
                                <div class="belong-selection-item -color-onblue">
                                    <input type="checkbox" checked="true" disabled="true" />
                                    <label>
                                        <span class="svg-tick-baqua"></span>
                                        <span class="belong-selection-item__title notification__desktop">You are currently logged in as a cooling off agent</span>
                                        <span class="belong-selection-item__title notification__mobile">Logged in as a cooling off agent</span>
                                        <!-- <a data-bind="click: function() { $('.notification-banner.outbound-agents-only').hide(); }" class="belong-selection-item__edit">
                                                                                                                                                                                        <span class="svg-x-white"></span>
                                                                                                                                                                                        </a> -->
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-container cf">
            <div id="main" tabindex="-1" role="main" class="main -page">
                <div class="parsys refreshpagepar">
                    <div class="refreshmobo section">
                    </div>
                    <div class="parbase forgotPassword section">
                        <div class='account-log-in'>
                            <div id="ctn-title" class="authenticated-page-title">
                                <div class="l-padding">
                                    <h1>Forgot Your Password?</h1>
                                </div>
                            </div>
                        </div>
                        <div class="l-content">
                            <div id="postClickDisplay" class="pad-40" style="display:none;margin-top">
                                <div class="callout callout--success">
                                    <span class="svg-tick-circle-white"></span>
                                    <p class="success-message">A message with your reset password and instructions has been sent to your e-mail address.</p>
                                </div>
                            </div>
                            <div class="forgotPassword-module" style="max-width:800px">
                                <div class="pad-40 cf">
                                    <div id="postClickDisplay1" class="forgotten-password-form">
                                        <p class="header-text">Enter your email address and date of birth below, and we’ll email you a new link to reset your password</p>
                                        <form id="forgotten-password-form" action="javascript:void(0)">
                                            <fieldset>
                                                <div id="EmailContainer">
                                                    <div class="ctrl-holder">
                                                        <label class="input-label" for="userEmail">Email address</label>
                                                        <input name="Email" id="userEmail" type="email" class="text" autocomplete="off" style="width : 100%" />
                                                    </div>
                                                    <text id="Email-error" class="error" for="userEmail"></text>
                                                </div>
                                                <div class="forgotten-password-dob-input clearfix ctrl-holder">
                                                    <label class="input-label" for="DOB">Date of birth</label>
                                                    <div class="ctrl-holder shift-label">
                                                        <span class="simple-select"><span class="simple-label">Day</span>
                                                        <select name="DOBDay" id="DOBDay" style="opacity: 0;">
                                                            <option value="" selected="selected">Day</option>
                                                            <option value="01">01</option>
                                                            <option value="02">02</option>
                                                            <option value="03">03</option>
                                                            <option value="04">04</option>
                                                            <option value="05">05</option>
                                                            <option value="06">06</option>
                                                            <option value="07">07</option>
                                                            <option value="08">08</option>
                                                            <option value="09">09</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                            <option value="13">13</option>
                                                            <option value="14">14</option>
                                                            <option value="15">15</option>
                                                            <option value="16">16</option>
                                                            <option value="17">17</option>
                                                            <option value="18">18</option>
                                                            <option value="19">19</option>
                                                            <option value="20">20</option>
                                                            <option value="21">21</option>
                                                            <option value="22">22</option>
                                                            <option value="23">23</option>
                                                            <option value="24">24</option>
                                                            <option value="25">25</option>
                                                            <option value="26">26</option>
                                                            <option value="27">27</option>
                                                            <option value="28">28</option>
                                                            <option value="29">29</option>
                                                            <option value="30">30</option>
                                                            <option value="31">31</option>
                                                        </select>
                                                        </span>
                                                    </div>
                                                    <div class="ctrl-holder year-label shift-label">
                                                        <span class="simple-select"><span class="simple-label">Month</span>
                                                        <select name="DOBMonth" id="DOBMonth" style="opacity: 0;">
                                                            <option value="" selected="selected"> Month</option>
                                                            <option value="01"> January</option>
                                                            <option value="02"> February</option>
                                                            <option value="03"> March</option>
                                                            <option value="04"> April</option>
                                                            <option value="05"> May</option>
                                                            <option value="06"> June</option>
                                                            <option value="07"> July</option>
                                                            <option value="08"> August</option>
                                                            <option value="09"> September</option>
                                                            <option value="10"> October</option>
                                                            <option value="11"> November</option>
                                                            <option value="12"> December</option>
                                                        </select>
                                                        </span>
                                                    </div>
                                                    <div class="ctrl-holder shift-label">
                                                        <span class="simple-select"><span class="simple-label">Year</span>
                                                        <select name="DOBYear" id="DOBYear" style="opacity: 0;">
                                                            <option value="" selected="selected">Year</option>
                                                            <option value="2000">2000</option>
                                                            <option value="1999">1999</option>
                                                            <option value="1998">1998</option>
                                                            <option value="1997">1997</option>
                                                            <option value="1996">1996</option>
                                                            <option value="1995">1995</option>
                                                            <option value="1994">1994</option>
                                                            <option value="1993">1993</option>
                                                            <option value="1992">1992</option>
                                                            <option value="1991">1991</option>
                                                            <option value="1990">1990</option>
                                                            <option value="1989">1989</option>
                                                            <option value="1988">1988</option>
                                                            <option value="1987">1987</option>
                                                            <option value="1986">1986</option>
                                                            <option value="1985">1985</option>
                                                            <option value="1984">1984</option>
                                                            <option value="1983">1983</option>
                                                            <option value="1982">1982</option>
                                                            <option value="1981">1981</option>
                                                            <option value="1980">1980</option>
                                                            <option value="1979">1979</option>
                                                            <option value="1978">1978</option>
                                                            <option value="1977">1977</option>
                                                            <option value="1976">1976</option>
                                                            <option value="1975">1975</option>
                                                            <option value="1974">1974</option>
                                                            <option value="1973">1973</option>
                                                            <option value="1972">1972</option>
                                                            <option value="1971">1971</option>
                                                            <option value="1970">1970</option>
                                                            <option value="1969">1969</option>
                                                            <option value="1968">1968</option>
                                                            <option value="1967">1967</option>
                                                            <option value="1966">1966</option>
                                                            <option value="1965">1965</option>
                                                            <option value="1964">1964</option>
                                                            <option value="1963">1963</option>
                                                            <option value="1962">1962</option>
                                                            <option value="1961">1961</option>
                                                            <option value="1960">1960</option>
                                                            <option value="1959">1959</option>
                                                            <option value="1958">1958</option>
                                                            <option value="1957">1957</option>
                                                            <option value="1956">1956</option>
                                                            <option value="1955">1955</option>
                                                            <option value="1954">1954</option>
                                                            <option value="1953">1953</option>
                                                            <option value="1952">1952</option>
                                                            <option value="1951">1951</option>
                                                            <option value="1950">1950</option>
                                                            <option value="1949">1949</option>
                                                            <option value="1948">1948</option>
                                                            <option value="1947">1947</option>
                                                            <option value="1946">1946</option>
                                                            <option value="1945">1945</option>
                                                            <option value="1944">1944</option>
                                                            <option value="1943">1943</option>
                                                            <option value="1942">1942</option>
                                                            <option value="1941">1941</option>
                                                            <option value="1940">1940</option>
                                                            <option value="1939">1939</option>
                                                            <option value="1938">1938</option>
                                                            <option value="1937">1937</option>
                                                            <option value="1936">1936</option>
                                                            <option value="1935">1935</option>
                                                            <option value="1934">1934</option>
                                                            <option value="1933">1933</option>
                                                            <option value="1932">1932</option>
                                                            <option value="1931">1931</option>
                                                            <option value="1930">1930</option>
                                                            <option value="1929">1929</option>
                                                            <option value="1928">1928</option>
                                                            <option value="1927">1927</option>
                                                            <option value="1926">1926</option>
                                                            <option value="1925">1925</option>
                                                            <option value="1924">1924</option>
                                                            <option value="1923">1923</option>
                                                            <option value="1922">1922</option>
                                                            <option value="1921">1921</option>
                                                            <option value="1920">1920</option>
                                                            <option value="1919">1919</option>
                                                            <option value="1918">1918</option>
                                                        </select>
                                                        </span>
                                                    </div>
                                                    <div style="clear:both">
                                                        <input type="text" id="DOB" name="DOB" class="visuallyhidden" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div>
                                                <button id="forgotten-password-submitt" onclick="resetPassword();" class="salesForce-btn"><span>Reset Password</span></button>
                                                <!-- <button id="forgotten-password-submit" onclick="resetPassword();" class="btn -size-small -text-small -color-primary"><img src="https://www.belong.com.au/assets/img/loader-on-green.gif" alt="Belong Internet Loading" class="btn__loader-circle" /><span>Reset Password</span></button> -->
                                                <a href="{!$label.Belong_Logo}" id="forgotten-password-cancel" class="button secondary-link">Cancel</a>
                                                <div id="WrongCredentials" style="color:red;"></div>
                                                <p id="error-message" class="label bubble error forgotten-password hidden"></p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden error-data">
                            <!--| BEGIN CMS [Forgotten Password:Page messages:text] 'Validation error, email required' |-->
                            <span class="email-required">Whoops, you've forgotten to tell us your email address.</span>
                            <!--| END CMS [text] |-->
                            <!--| BEGIN CMS [Forgotten Password:Page messages:text] 'Validation error, email not valid' |-->
                            <span class="email-notValid">The email you entered doesn't seem to be valid. It needs to be a mix of letters and numbers.</span>
                            <!--| END CMS [text] |-->
                            <!--| BEGIN CMS [Forgotten Password:Page messages:text] 'Validation error, date of birth required' |-->
                            <span class="dob-required">Whoops, you've forgotten to tell us your date of birth.</span>
                            <!--| END CMS [text] |-->
                            <!--| BEGIN CMS [Forgotten Password:Page messages:text] 'Validation error, date of birth not valid' |-->
                            <span class="dob-notValid">Whoops, you've missed some information in your date of birth.</span>
                            <!--| END CMS [text] |-->
                            <!--| BEGIN CMS [Forgotten Password:Page messages:text] 'Error, general problem' |-->
                            <span class="error-generic">There was an error changing your password. Please call us on 1300 BELONG (1300 235 664).</span>
                            <!--| END CMS [text] |-->
                            <!--| BEGIN CMS [Forgotten Password:Page messages:text] 'Error, incorrect email or date of birth' |-->
                            <span class="error-incorrect">The date of birth or e-mail address you entered was incorrect.</span>
                            <!--| END CMS [text] |-->
                        </div>
                        <!--| BEGIN CMS [Forgotten Password:Page:text] 'Cancel button redirect location' |-->
                        <span class="cancel-location hidden">{!$Label.Belong_Logo}</span>
                        <!--| END CMS [text] |-->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer cf" itemscope="true" itemtype="http://schema.org/Organization">
            <div class="refreshglobalfooter refreshpagefooter">
                <div class="l-padding">
                    <div class="image-links cf">
                        <a id="footer-logo" href="{!$label.Belong_Logo}"><img class="logo" src="https://www.belong.com.au/content/dam/belong/assets/images/belong-logo.png" alt="Belong Internet Logo" /></a>
                        <ul class="social horizontal f-right">
                        </ul>
                    </div>
                    <div class="links cf">
                        <ul class="horizontal">
                            <li>
                                <a href="https://www.belong.com.au/critical-information-summaries">Critical Information Summaries</a>
                            </li>
                            <li>
                                <a href="https://www.belong.com.au/customer-terms">Customer terms</a>
                            </li>
                            <li>
                                <a href="https://www.belong.com.au/privacy">Privacy</a>
                            </li>
                            <li>
                                <a href="https://www.belong.com.au/terms-of-use">Terms of use</a>
                            </li>
                            <li>
                                <a href="https://www.belong.com.au/about-us">About us</a>
                            </li>
                            <li>
                                <a href="https://www.belong.com.au/contact-us">Contact us</a>
                            </li>
                        </ul>
                        <p class="legal">Available in selected areas. <strong>nbn</strong> <sup>TM</sup> is a trademark of nbn co ltd and is used under licence.
                            <br/> Belong is a division of Telstra Corporation Limited ABN 33 051 775 556.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- SDI include (path: /content/belong/forgotten-password/_jcr_content/globaldataattributes.nocache.html, resourceType: belong/components/content/refresh/globaldataattributes) -->
        <div id="GlobalData" class="hidden" data-is-logged-in="false">
        </div>
        <script defer="true" type="text/javascript" src="https://www.belong.com.au/assets/js/plugins.js"></script>
        <!--<script defer="true" type="text/javascript" src="https://www.belong.com.au/clientlibs/script.31bbe8ea2c3fadae1c8ed21e02a11970.js"></script>-->
        <script defer="true" src="https://www.belong.com.au/assets/js/script.js" type="text/javascript"></script>
        <script type="text/javascript">
        _satellite.pageBottom();
        </script>
        <script>
        function resetPassword() {
            var email = document.getElementById('userEmail').value;
            var birthdate = document.getElementById('DOB').value;
            document.getElementById("WrongCredentials").innerHTML = '';
            console.log(email);
            console.log(birthdate);
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.ResetPasswordController.resetUserPwd}',
                email, birthdate,
                function handleResult(result, event) {
                    console.log(result);
                    if (event.status) {
                        //alert(result);
                        if (result == 'noDOB' || result == 'failure') {
                            //document.getElementById("postClickDisplay1").style.display = "block";
                            //document.getElementById("postClickDisplay1").innerHTML = "The DoB is incorrect";
                        }
                        if (result == 'WrongCredentials') {
                            document.getElementById("WrongCredentials").innerHTML = "The date of birth or e-mail address you entered was incorrect.";
                        }
                        if (result == 'success') {
                            document.getElementById("postClickDisplay1").style.display = "none";
                            document.getElementById("postClickDisplay").style.display = "block";
                            //alert('Hello');
                            //document.getElementById("postClickDisplay").show();
                            //window.location.href = 'https://preprod.belongtest.com.au/account';// Add Custom Label
                            //window.location.href = $Label.AccountPageURL;
                        }

                    }
                }, {
                    escape: true
                }
            );
        }
        </script>
    </body>

    </html>
</apex:page>