<apex:component id="BelongHeadingComponentId" controller="BelongHeadingController">
	<apex:attribute name="pkbCon" 		type="BelongSupportHomeController" 				assignTo="{!BlngCntrl}" 	required="false" description="handle to the pkb controller" />
	<apex:attribute name="pkbSrchCon" 	type="BelongSupportSearchResultsController" 	assignTo="{!BlngSrchCon}" 	required="false" description="handle to the pkb controller" />
	<apex:attribute name="pkbArtCon" 	type="BelongSupportArticleController" 			assignTo="{!BlngArtCntrl}" 	required="false" description="handle to the pkb controller" />
	<apex:attribute name="pkbCatCon" 	type="BelongSupportCategoryController" 			assignTo="{!BlngCatCntrl}" 	required="false" description="handle to the pkb controller" />
	<apex:attribute name="rerender" 	type="String" 									required="false"			description="Hand over a list of additional element ids to rerender"/>
	<apex:attribute name="SearchDisplay" 	type="Boolean" 								required="true"				description="Define if the search button is displayed"/>
	<apex:attribute name="BackDisplay" 		type="Boolean" 								required="true"				description="Define if the back button is displayed"/>
	<div id="pageHeaderbelongId" class="page-header ui-belong">	
		<div class="container-content vmargin-off text-center">
			<apex:outputPanel rendered="{!BackDisplay}">
				<div class="page-header__back text-left">
					<a class="coheadline -light" href="/"> Support Home</a>
				</div>
			</apex:outputPanel>
			<div class="page-header__title">
				<h1>Support</h1>
			</div>
			<apex:outputPanel rendered="{!SearchDisplay}">
				<div class="search-bar">
					<label for="search">
						<input id="searchTermInput" class="search-bar__input" type="text" name="search" placeholder="Search Support"/>
					</label>
					<a id= "searchTermButton" class="search-bar__button">Search</a>
				</div>
			</apex:outputPanel>
		</div>
	</div>
</apex:component>