<apex:component >
	<div class="ui-platform search-results">
		<div class="container-content">
			<div class="h4 -bold vmargin">8 results found for 'belong app'</div>
			<div class="h4 vmargin">Filter by product</div>
			<div class="checkbox -large">
				<input type="checkbox" id="nbn" checked="true" />
				<label for="nbn" class="coheadline">NBN</label>
			</div>
			<div class="checkbox -large">
				<input type="checkbox" id="adsl" />
				<label for="adsl" class="coheadline">ADSL</label>
			</div>
			<div class="checkbox -large">
				<input type="checkbox" id="voice" />
				<label for="voice" class="coheadline">Belong Voice</label>
			</div>
		</div>

		<div class="container-content" data-category="nbn">
			<div class="accordion-header ui-white">
				<h4>NBN > Looking to join Belong</h4>
			</div>
			<ul class="accordion accordion-small" data-accordion="true" data-multi-expand="true" data-allow-all-closed="true">
				<li class="accordion-item" data-accordion-item="true">
					<a href="#" class="accordion-title"><h5>Question style accordion item</h5></a>
					<div class="accordion-content" data-tab-content="true">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
					</div>
				</li>
				<li class="accordion-item" data-accordion-item="true">
					<a href="#" class="accordion-title"><h5>Probably used for FAQs and things like that</h5></a>
					<div class="accordion-content" data-tab-content="true">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
					</div>
				</li>
				<li class="accordion-item" data-accordion-item="true">
					<a href="#" class="accordion-title"><h5>Accordion 3</h5></a>
					<div class="accordion-content" data-tab-content="true">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
					</div>
				</li>
			</ul>
		</div>

		<div class="container-content" data-category="adsl">
			<div class="accordion-header ui-white">
				<h4>ADSL > Manage your account</h4>
			</div>
			<ul class="accordion accordion-small" data-accordion="true" data-multi-expand="true" data-allow-all-closed="true">
				<li class="accordion-item" data-accordion-item="true">
					<a href="#" class="accordion-title"><h5>Question style accordion item</h5></a>
					<div class="accordion-content" data-tab-content="true">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
					</div>
				</li>
				<li class="accordion-item" data-accordion-item="true">
					<a href="#" class="accordion-title"><h5>Probably used for FAQs and things like that</h5></a>
					<div class="accordion-content" data-tab-content="true">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
					</div>
				</li>
				<li class="accordion-item" data-accordion-item="true">
					<a href="#" class="accordion-title"><h5>Accordion 3</h5></a>
					<div class="accordion-content" data-tab-content="true">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</apex:component>