<apex:component >
        <div class="container container--white container--with-hairline">
        	<div class="row">
        		<div class="column">
        			<div class="row global-footer">
        				<div class="column column--6 column--md-6 column--lg-2">
        					<i class="global-footer__logo"></i>
        				</div>
        				<div class="column column--6 column--md-2 column--lg-2 global-footer__column">
        					<h4>Belong Broadband</h4>
        					<ul>
        						<li class="global-footer__link">
        							<a class="none" href="/broadband/nbn">nbn plans</a>
        						</li>
        						<li class="global-footer__link">
        							<a class="none" href="/broadband/adsl">ADSL plans</a>
        						</li>
        						<li class="global-footer__link">
        							<a class="none" href="/broadband">Get broadband</a>
        						</li>
        						<li class="global-footer__link">
        							<a class="none" href="/support">Support for Broadband</a>
        						</li>
        					</ul>
        				</div>
        				<div class="column column--6 column--md-2 column--lg-2 global-footer__column">
        					<h4>Belong Mobile</h4>
        					<ul>
        						<li class="global-footer__link">
        							<a href="/mobile">Plans &amp; Coverage</a>
        						</li>
        						<li class="global-footer__link">
        							<a href="/mobile">Large mobile data plan</a>
        						</li>
        						<li class="global-footer__link">
        							<a href="/mobile">Regular mobile data plan</a>
        						</li>
        						<li class="global-footer__link">
        							<a href="/mobile/order">Get a Sim</a>
        						</li>
        						<li class="global-footer__link">
        							<a href="/mobile/signup">Setup &amp; Connect</a>
        						</li>
        						<li class="global-footer__link">
        							<a href="/support/mobile">Support for Mobile</a>
        						</li>
        					</ul>
        				</div>
        				<div class="column column--6 column--md-2 column--lg-2 global-footer__column">
        					<!-- react-text: 200 -->
        					<!-- /react-text -->
        					<ul>
        						<li class="global-footer__link">
        							<a href="/about-us">About Belong</a>
        						</li>
        						<li class="global-footer__link">
        							<a href="/contact-us">Contact us</a>
        						</li>
        						<li class="global-footer__link">
        							<a href="/critical-information-summaries">Critical Information Summaries</a>
        						</li>
        						<li class="global-footer__link">
        							<a href="/customer-terms">Customer terms</a>
        						</li>
        						<li class="global-footer__link">
        							<a href="/terms-of-use">Terms of use</a>
        						</li>
        						<li class="global-footer__link">
        							<a href="/privacy">Privacy</a>
        						</li>
        					</ul>
        				</div>
        			</div>
        		</div>
        	</div>
        	<div class="row">
        	    <div class="column column--12 column--md-12 column--lg-12 global-footer__legal">
					<p>Available in selected areas. nbn™ is a trademark of nbn co ltd and is used under licence. Belong is a division of Telstra Corporation Limited ABN 33 051 775 556.</p>
				</div>
        	</div>
        </div>
    
    <script src="{!URLFOR($Resource.KnowledgeLibrary, 'js/jquery.js')}"></script>
    <script src="{!URLFOR($Resource.KnowledgeLibrary, 'js/vendor.js')}"> </script>
    <script>$(document).foundation();</script>
    <script src="{!URLFOR($Resource.KnowledgeLibrary, 'js/belong.js')}"></script>
    <script src="{!URLFOR($Resource.KnowledgeLibrary, 'js/knowledge.js')}"></script>

    <script type="text/javascript">
        _satellite.pageBottom();
        ga('send', 'pageview');
    </script>

    <!-- Cleanup for app -->
    <script>
    var standalone = window.navigator.standalone,
        iOS        = navigator.userAgent.match(/iPhone|iPad|iPod/i),
        safari     = /safari/.test(navigator.userAgent.toLowerCase());

        if (iOS) {
            if (!standalone && !safari) {
                $('.header').remove();
                $('.page-header').remove();
                $('.footer-search').remove();
                $('.footer').remove();
            }
        }
    </script>

    <!-- Liveagent chat scripts -->
    <script type='text/javascript' src='https://c.la10.salesforceliveagent.com/content/g/js/37.0/deployment.js'></script>
    <script type='text/javascript'>
        var liveagentInitUrl;
        var initCode1;
        var initCode2;
        if (window.location.host === 'www.belong.com.au' || window.location.host === 'www.support.belong.com.au' || window.location.host === 'support.belong.com.au') {
            // Prod codes
            liveagentInitUrl = 'https://d.la10.salesforceliveagent.com/chat';
            initCode1 = '57228000000PDu1';
            initCode2 = '00D280000012oCH';
        } else {
            // Test environment codes
            liveagentInitUrl = 'https://d.la9cs.salesforceliveagent.com/chat';
            initCode1 = '572p00000008ORq';
            initCode2 = '00Dp0000000Cvse';
        }
        liveagent.init(liveagentInitUrl, initCode1, initCode2);
    </script>

    <!-- Support Live Person -->
    <script>
        var lpTag;
        var siteCode = '83898727';  // LE2.0 Production account.
        window.lpTag=window.lpTag||{};if(typeof window.lpTag._tagCount==='undefined'){window.lpTag={site:siteCode,section:lpTag.section||'',autoStart:lpTag.autoStart===false?false:true,ovr:lpTag.ovr||{},_v:'1.5.1',_tagCount:1,protocol:location.protocol,events:{bind:function(app,ev,fn){lpTag.defer(function(){lpTag.events.bind(app,ev,fn)},0)},trigger:function(app,ev,json){lpTag.defer(function(){lpTag.events.trigger(app,ev,json)},1)}},defer:function(fn,fnType){if(fnType==0){this._defB=this._defB||[];this._defB.push(fn)}else if(fnType==1){this._defT=this._defT||[];this._defT.push(fn)}else{this._defL=this._defL||[];this._defL.push(fn)}},load:function(src,chr,id){var t=this;setTimeout(function(){t._load(src,chr,id)},0)},_load:function(src,chr,id){var url=src;if(!src){url=this.protocol+'//'+((this.ovr&&this.ovr.domain)?this.ovr.domain:'lptag.liveperson.net')+'/tag/tag.js?site='+this.site}var s=document.createElement('script');s.setAttribute('charset',chr?chr:'UTF-8');if(id){s.setAttribute('id',id)}s.setAttribute('src',url);document.getElementsByTagName('head').item(0).appendChild(s)},init:function(){this._timing=this._timing||{};this._timing.start=(new Date()).getTime();var that=this;if(window.attachEvent){window.attachEvent('onload',function(){that._domReady('domReady')})}else{window.addEventListener('DOMContentLoaded',function(){that._domReady('contReady')},false);window.addEventListener('load',function(){that._domReady('domReady')},false)}if(typeof(window._lptStop)=='undefined'){this.load()}},start:function(){this.autoStart=true},_domReady:function(n){if(!this.isDom){this.isDom=true;this.events.trigger('LPT','DOM_READY',{t:n})}this._timing[n]=(new Date()).getTime()},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],ev:lpTag.ev||[]};lpTag.init()}else{window.lpTag._tagCount+=1}
        lpTag.sdes = lpTag.sdes||[];
        lpTag.section = ['help', 'service'];
    </script>

    <style type="text/css">
    #chat-service, .lp-chat-button, #lpButtonDiv {
        width: 52px;
        height: 142px;

        position: fixed;
        z-index: 9999;
        top: 45%;
        left: 0;
    }
    </style>

    <div id="lpButtonDiv" class="lp-chat-button"></div>
</apex:component>