<apex:component controller="BelongMetaHeaderController">
	<apex:attribute name="pageTitle" type="String" required="false" description="Title of the page"/>
	<apex:attribute name="pkbCon" 		type="BelongSupportHomeController" 				assignTo="{!BlngCntrl}" 	required="false" description="handle to the pkb controller" />
	<apex:attribute name="pkbSrchCon" 		type="BelongSupportSearchResultsController" 	assignTo="{!BlngSrchCon}" 	required="false" description="handle to the pkb controller" />
	<apex:attribute name="pkbArtCon" 		type="BelongSupportArticleController" 			assignTo="{!BlngArtCntrl}" 	required="false" description="handle to the pkb controller" />
	<apex:attribute name="pkbCatCon" 		type="BelongSupportCategoryController" 			assignTo="{!BlngCatCntrl}" 	required="false" description="handle to the pkb controller" />
	
	<apex:attribute name="keyWrdMetaSEO" 	type="String" 	required="false" description="Keyword metadata for SEO" />
	<apex:attribute name="descMetaSEO" 		type="String" 	required="false" description="Description Metadata for SEO" />
	<apex:attribute name="titleMetaSEO" 	type="String" 	required="false" description="Title Metadata for SEO" />
	<apex:attribute name="urlOGMetaSEO" 	type="String" 	required="false" description="URL og: Metadata for SCE" />
	<apex:attribute name="keyWrdOGMetaSEO" 	type="String" 	required="false" description="Keyword og: metadata for SEO" />
	<apex:attribute name="descOGMetaSEO" 	type="String" 	required="false" description="Description og: Metadata for SEO" />
	<apex:attribute name="titleOGMetaSEO" 	type="String" 	required="false" description="Title og: Metadata for SEO" />
	<apex:attribute name="imgOGMetaSEO" 	type="String" 	required="false" description="image og: Metadata for SCE" />
	<html lang="en">
	<head>
		<title>{!pageTitle}</title>
		<meta charset="utf-8"></meta>
		<meta http-equiv="x-ua-compatible" content="ie=edge"></meta>

		<meta name="keywords" 			content="{!keyWrdMetaSEO}" />
		<meta name="description" 		content="{!descMetaSEO}" />
		<meta name="title" 				content="{!titleMetaSEO}" />

		<meta property="og:title" 		content="{!titleOGMetaSEO}" />
		<meta property="og:keywords" 	content="{!keyWrdOGMetaSEO}" />
		<meta property="og:url" 		content="{!urlOGMetaSEO}" />
		<meta property="og:description" content="{!descOGMetaSEO}" />
		<meta property="og:image" content="{!imgOGMetaSEO}" />

		<script src="https://use.typekit.net/cpg3ymi.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<title>Belong</title>
		<link rel="stylesheet" href="{!URLFOR($Resource.KnowledgeLibrary, 'css/belong.css')}"></link>

		<script src="//assets.adobedtm.com/3c7a22bb879803cc2beb8b04f846f928b6fea2ec/satelliteLib-c6d69479c887822e961b4db59e3767c799f4e22f.js"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-43777274-1', 'auto', {'allowLinker': true});
			ga('require', 'linker');
			ga('linker:autoLink', ['support.belong.com.au'] );
			ga('send', 'pageview');
			
			ga(function(tracker) {
				var clientId = tracker.get('clientId');
				ga('set', 'dimension15', clientId);
			});
		</script>
	</head>
	</html>
</apex:component>